altgraph==0.17.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
packaging==25.0
pdfminer.six==20250506
pdfplumber==0.11.7
pefile==2023.2.7
pillow==12.0.0
pycparser==2.23
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
PyPDF2==3.0.1
pypdfium2==4.30.0
PyQt6==6.10.0
PyQt6-Qt6==6.10.0
PyQt6_sip==13.10.2
pywin32-ctypes==0.2.3
setuptools==80.9.0
pandas
openpyxl


